<!DOCTYPE html>
<html>
 	<head>
  	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/telecontroller.js') }}"></script>
  	<script type="text/javascript">
		function switchCamera(newCamera){
			if(newCamera == '1'){
				document.getElementById("source").src = "{{ url_for('video_feed',cameraChoice=1) }}";
			} else{
				document.getElementById("source").src = "{{ url_for('video_feed',cameraChoice=0) }}";
			}
		}
	
  		$(function() {
  			runController("{{ serverIPAddress }}");
  		});
  	</script>
 </head>
 <body>
	<button onclick="switchCamera('0')">Camera 0</button>
	<button onclick="switchCamera('1')">Camera 1</button>
	<img id="source" src="{{ url_for('video_feed',cameraChoice=0) }}">
	<canvas id="canvas" width="500" height="500"></canvas>
 </body>
 
 <script>

	
 </script>
</html>