<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<title>TeleController</title>
	    <link rel="shortcut icon" href="favicon.ico">
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.mobile-1.4.5.min.js') }}"></script>
		<LINK href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
	</head>
	<body>
	<div data-role="page">
		<img id="mainBackground" src = "{{ url_for('video_feed') }}"></img>

		<div id="container">
		<div id="right-wrapper">
		  <div class="controller" id="rightStick"></div>
		</div>
		
		<div id="left-wrapper">
		  <div class="controller" id="leftStick"></div>
		</div>
		</div>
	</div>
	<script>
		var mouseIsDown = false;
		var nInterval;
		var hostName = "192.168.0.104"
		var socketController = new WebSocket("ws://"+hostName+":9001");
		
		var mouseLocation;
		
		window.onresize = function() {
			$(document.body).width(window.innerWidth).height(window.innerHeight);
		}
	
		$(function(){
		
			window.onresize();
		
			document.oncontextmenu = function() {return false;};

			$(document).mousedown(function(e){

				if ( e.button == 2 )
				{ 
					//alert('Right mouse button!'); 
					return false; 
				}

				return true;
			});
			$( document ).on( "vmousedown", ".controller", function(e) {
				mouseIsDown = true;
				mouseLocation = e;

				controllerUsed();
			});
			$( document ).on( "vmousemove", ".controller", function(e) {
				if(mouseIsDown){
					mouseLocation = e;
					controllerUsed();
				}
			});
			$( document ).on( "vmouseup", "body", function(e) {
				if(mouseIsDown){
					mouseIsDown = false;
					controllerReleased();
				}
			});
			$( document ).on( "vmousecancel", "body", function(e) {
				if(mouseIsDown){
					mouseIsDown = false;
					controllerReleased();
				}
			});
		});
		
		function controllerUsed(){	
			if(mouseLocation.offsetX > 0){
				var width = $(mouseLocation.target).width();
				var height = $(mouseLocation.target).height();
				var x = mouseLocation.offsetX-(width/2);
				var y = mouseLocation.offsetY-(height/2);
				
				//console.log("Click: " + x + " " + y);
				var controlName = $(mouseLocation.target).attr('id');
				//console.log(controlName);
				var xF = Number((x/100).toFixed(3));
				var yF = Number((y/100).toFixed(3));
				var result = controlName+","+xF+","+yF;
				socketController.send(result);
			}
		}
		function controllerReleased(){
			socketController.send("None"+","+0+","+0);
			mouseIsDown = false;
			clearInterval(nInterval);
		}
	</script>
</body>
</html>
